#
# OS files
#

.DS_Store
.DS_Store?
.AppleDouble
.LSOverride
Icon?

# Thumbnails
._*
ehthumbs.db
Thumbs.db

# External disks
.Spotlight-V100
.Trashes


#
# Build process files
#

temp
node_modules
.tmp
.sass-cache
bower_components
theme/dev/vendor
wordpress/wp-snapshots
theme/dist


#
# WordPress dev files
#

debug.log
wordpress/wp-config.php
